<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;subset=vietnamese" rel="stylesheet">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">home</a></li>
	        	<li><a href="/about/">about</a></li>
        		<li><a href="/resume/VivianDoan_Resume.pdf">resume</a></li>
        		<li><a href="/blog/">blog</a></li>
        		<li><a href="/resources/">resources</a></li>
    		</ul>
		</nav>
		<div class="container">

			{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
    			<li><strong>contact me:</strong></li>
        		<li><a href="mailto:viviandoan@engineering.ucla.edu">email</a></li>
        		<li><a href="https://github.com/vvndn">github</a></li>
        		<li><a href="https://www.linkedin.com/in/vivianpdoan/">linkedin</a></li>
			</ul>
			©2018 Vivian Doan
		</footer>
	</body>
</html>